<div class="container">
  <h1><%= @article.title %> <%= link_to "edit", edit_article_path(@article) %> | <%= link_to "delete", article_path(@article), method: "delete"  %>  </h1>
  <p><%= @article.content %></p>
</div>
